<section>
  <h2>Achievements</h2>
  <div class="github-achievements">
    <div>
      <img
        src="https://github-readme-stats-sigma-five.vercel.app/api?username=ArshdeepGrover&show_icons=true&theme=chartreuse-dark"
        alt="ArshdeepGrover"
        title="Github report card"
      />
    </div>
    <div>
      <img
        src="https://github-readme-streak-stats.herokuapp.com?user=ArshdeepGrover&theme=chartreuse-dark"
        alt="ArshdeepGrover"
        title="Github Score"
      />
    </div>
  </div>
  <div class="holopin-badges">
    <a
      href="https://holopin.io/@arshdeepgrover"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="https://holopin.me/arshdeepgrover"
        alt="An image of @arshdeepgrover's Holopin badges, which is a link to view their full Holopin profile"
        title="Badges"
      />
    </a>
  </div>
</section>
