<nav>
  <div>
    <div class="image-section">
      <img src="./assets/images/as.png" alt="" />
    </div>

    <div class="menu">
      <a
        routerLink="."
        fragment="home"
        class="selected"
        class="{{
          highlight === 'home'
            ? 'cre-text-primary-500'
            : 'cre-text-[#000]'
        }}"
        >Home</a
      >
      <!-- <div  href="#home">About</div> -->
      <a routerLink="." fragment="skills" class="{{
          highlight === 'skills'
            ? 'cre-text-primary-500'
            : 'cre-text-[#000]'
        }}">Skills</a>
      <a routerLink="." fragment="service">Service</a>
      <a routerLink="." fragment="portfolio">Portfolio</a>
      <a routerLink="." fragment="blog">Blog</a>
    </div>
  </div>
</nav>
