<section>
  <div class="image">
    <img src="/assets/images/ArshdeepSingh.png" alt="" />
  </div>
  <div class="right-section">
    <div class="text">
      <p class="first-line">hello,I'm</p>
      <p class="second-line">Arshdeep Singh</p>
      <p class="third-line">Lead Software Developer</p>
      <p class="fourth-line">
        I have a keen interest in software development. I am always looking for
        new opportunities to learn, grow, and contribute to the skills and
        abilities that I have gained throughout the past year of education. So I
        believe that with proper guidance and direction anything is possible.
      </p>
    </div>
    <div class="action-buttons"></div>
    <div class="social-accounts"></div>
  </div>
</section>

<div class="cre-border-b cre-border-solid cre-border-Gray/50"></div>
