section {
  @apply cre-flex cre-flex-col md:cre-flex-row  cre-h-[calc(95dvh-56px)] cre-container cre-mx-auto;
  .image {
    @apply cre-h-full cre-hidden md:cre-block;
    img {
      @apply cre-h-full cre-object-cover;
    }
  }
  .right-section {
    @apply cre-h-full cre-flex cre-flex-col cre-justify-center md:cre-ml-4 cre-w-full md:cre-w-2/3;
    .text {
      p {
        @apply cre-text-center md:cre-text-left;
      }
      .first-line {
        @apply cre-text-2xl cre-text-[#6D7378];
      }
      .second-line {
        @apply cre-text-7xl cre-text-primary-500 cre-font-bold;
      }
      .third-line {
        @apply cre-text-xl cre-text-[#485056] cre-border-r-2 cre-border-solid cre-border-primary-500 cre-pr-2;
        animation: blink 1s infinite;

        @keyframes blink {
          50% {
            border-color: transparent;
          }
        }
      }
      .fourth-line {
      }
    }
    .action-as {
    }
    .social-accounts {
    }
  }
}

.action-buttons {
  @apply cre-mt-2 cre-flex cre-justify-center md:cre-justify-start;
  a {
    width: max-content;
    cursor: pointer;
    font-weight: 700;
    font-family: Helvetica, "sans-serif";
    transition: all 0.2s;
    padding: 10px 20px;
    border-radius: 100px;
    @apply cre-bg-primary-100;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    font-size: 15px;
  }

  a:hover {
    @apply cre-bg-primary-300/50;
  }

  a > svg {
    width: 34px;
    margin-left: 10px;
    transition: transform 0.3s ease-in-out;
  }

  a:hover svg {
    transform: translateX(5px);
  }

  a:active {
    transform: scale(0.95);
  }
}
