<section id="blogs" class="blogs-section">
  <div class="blogs-container">
    <div class="blogs-header" data-aos="fade-up">
      <h2 id="blogs" class="section-title">Latest <span class="highlight">Blogs</span></h2>
      <p class="section-description">
        Sharing insights, tutorials, and experiences from my development journey
      </p>
    </div>

    <div class="blogs-grid">
      <article
        *ngFor="let blog of blogs; let i = index"
        class="blog-card"
        [attr.data-aos]="'fade-up'"
        [attr.data-aos-delay]="i * 100"
        (click)="openBlog(blog.url)"
      >
        <div class="card-image-container">
          <img
            [src]="blog.image"
            [alt]="blog.title"
            class="card-image"
            loading="lazy"
          />
          <div class="category-badge">
            <span class="category-tag">{{ blog.tags[0] }}</span>
          </div>
        </div>

        <div class="card-content">
          <div class="content-header">
            <span class="blog-date">{{ blog.date }}</span>
            <span class="blog-read-time">{{ blog.readTime }} min</span>
          </div>

          <h3 class="blog-title">{{ blog.title }}</h3>
          <p class="blog-excerpt">{{ blog.excerpt }}</p>

          <div class="card-footer">
            <span class="read-more">Read Article</span>
            <svg class="arrow-icon" viewBox="0 0 20 20" fill="currentColor">
              <path
                fill-rule="evenodd"
                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                clip-rule="evenodd"
              />
            </svg>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
