<section>
  <h2>🎓 My Certifications</h2>
  <div class="certification-cards">
    <div *ngFor="let cert of certifications" class="certification-card">
      <a [href]="cert.credentialUrl" target="_blank">
        <div class="image">
          <img [src]="cert.image" alt="Certificate Image" />
        </div>
        <div class="details">
          <h3 class="title">{{ cert.title }}</h3>
          <p class="">{{ cert.organization }} — {{ cert.date }}</p>
          <!-- <p class="text-sm text-gray-400">Date: {{ cert.date }}</p> -->
          <!-- <p class="text-sm text-gray-400 mb-2"> -->
          <!-- Certificate ID: {{ cert.certificateId }} -->
          <!-- </p> -->
          <div class="skills-container">
            <span>Skills:</span>
            <ul>
              <li *ngFor="let skill of cert.skills">{{ skill }}&nbsp;</li>
            </ul>
          </div>
          <div class="credential-link">View Credential →</div>
        </div>
      </a>
    </div>
  </div>
</section>
