<footer>
  <div class="text">Design/Coded &copy;Arshdeep Singh</div>
  <div class="count-badges">
    <div class="waka-time">
      <a href="https://wakatime.com/@d6cc73e5-bd8b-4101-a5b3-3df8c64e560a"
        ><img
          src="https://wakatime.com/badge/user/d6cc73e5-bd8b-4101-a5b3-3df8c64e560a.svg"
          alt="Total coded time"
          title="Total code time"
      /></a>
    </div>
    <div>
      <a href="https://github.com/ArshdeepGrover">
        <img
          src="https://komarev.com/ghpvc/?username=ArshdeepGrover&label=Github %20profile%20views&color=0e75b6&style=flat"
          alt="ArshdeepGrover"
          title="Profile Views on github"
        />
      </a>
    </div>
  </div>
</footer>
