<section>
  <h1>Skills</h1>
  <div class="skills">
    <div *ngFor="let skill of skills">
      <div class="cre-my-2 cre-flex cre-justify-center">
        <img [src]="skill.src" [alt]="skill.name" [title]="skill.name" />
      </div>
      <div
        class="cre-w-full cre-bg-gray-200 cre-rounded-full cre-h-1.5"
      >
        <div
          class="c cre-h-1.5 cre-rounded-full"
          [ngStyle]="{ 'background-color': skill.color, width: skill.rating }"
        ></div>
      </div>
    </div>
  </div>
</section>

