nav {
  @apply cre-h-navbar cre-bg-white-100;
  div:first-child {
    @apply cre-container cre-mx-auto cre-h-full cre-flex cre-justify-between cre-items-center;
    .image-section {
      img {
        @apply cre-h-full;
      }
    }

    .menu {
      @apply cre-flex cre-items-center cre-gap-4;
      div {
        @apply cre-text-base;
        a:not(.selected) {
          @apply hover:cre-border-b-2 hover:cre-border-solid hover:cre-border-primary-500 ;
          transition: border-color 0.3s ease-in-out;
        }
      }
      .selected {
        @apply cre-text-primary-500 cre-font-semibold  cre-border-b-2 hover:cre-border-solid cre-border-primary-500 ;
      }
    }
  }
}

.scrolled {
  @apply cre-shadow-sm;
}
