nav {
  @apply h-navbar bg-white-100 dark:bg-gray-800;
  div:first-child {
    @apply container mx-auto h-full flex justify-center md:justify-between items-center;
    .image-section {
      @apply hidden md:block;
      img {
        @apply h-full;
      }
    }

    .menu {
      @apply flex items-center gap-4;
      div {
        @apply text-base;
        a:not(.selected) {
          @apply relative text-gray-900 dark:text-white-500;
        }
      }
      .selected {
        @apply text-primary-500 border-b-2  border-primary-500;
      }
      a:not(.selected)::after {
        content: "";
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 100%;
        height: 2px;
        transform: scaleX(0);
        @apply bg-primary-500;
        transition: 1s;
      }
      a:not(.selected):hover::after {
        transform: scaleX(1);
      }
    }
  }
}

.scrolled {
  @apply shadow-sm;
}
