<nav [ngClass]="{ scrolled: isScrolled }">
  <div>
    <div class="image-section">
      <!-- <img src="./assets/images/ArshdeepSingh.png" alt="Arshdeep Singh" /> -->
    </div>

    <div class="menu">
      <div *ngFor="let menuItems of menu">
        <a
          routerLink="."
          [fragment]="menuItems.fragment"
          class="{{
            highlight === menuItems.fragment ? 'selected' : 'cre-text-[#000]'
          }}"
          >{{ menuItems.name }}</a
        >
      </div>
    </div>
  </div>
</nav>
