<section>
  <h1>Experience</h1>
  <div class="grid grid-cols-1 gap-4 mx-4 md:mx-0">
    <div *ngFor="let experience of experiences">
      <div class="experience">
        <div class="md:flex justify-between items-center">
          <p class="title">{{ experience.title }}</p>
          <div class="flex flex-row md:justify-between items-center">
            <p class="start-date">{{ experience.start_date }} -&nbsp;</p>
            <p class="end-date">
              {{
                experience.currently_working === true
                  ? "Working"
                  : experience.end_date
              }}
            </p>
          </div>
        </div>
        <div class="md:flex justify-between items-center">
          <p class="company">{{ experience.company }}</p>
          <p class="location">{{ experience.location }}</p>
        </div>

        <div class="description" [innerHTML]="experience.description"></div>
      </div>
    </div>
  </div>
</section>
