/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'aos/dist/aos.css';

:root {
  --primary-color: #FF7955;
  --primary-light: #FF9B80;
  --primary-dark: #E65E3B;
}

body {
  font-family: 'Inter', sans-serif;
  transition: background-color 0.3s ease;
}

.dark {
  @apply bg-gray-900 text-white;
}

.light {
  @apply bg-white text-gray-900;
}
